// Place all the styles related to the Demo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	//font-family:;
	//font-size:14px;;
    font-color:#006;	
	
}

h1 {
	
	font-size:25px;
	font-color:blue;
	
}